

<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
 <meta charset="utf-8">
 <title>resto</title>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <link rel="stylesheet" href="css/master.css">
</head>




<body>
  <header>
<center>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0-jvPrpIZbNWoAL-FJEFn02eiBzpNlYP63rBEeNNGSFbvozOdxw" width="80" height="90"alt="logo" class="logo">



</center>
  </header>

 <div id="slideshow">
   <div class="slideitem current">
     <img src="https://i.pinimg.com/originals/80/4a/8a/804a8aaef0b06e885b073c3b7df000f7.jpg">
   </div>
   <div class="slideitem">
     <img src="https://www.recettes.net/documents/upload/original/g/a/galette-coreenne-151195472-subscription-monthly-m.jpg">
   </div>
   <div class="slideitem">
     <img src="https://cdn.pixabay.com/photo/2015/09/04/10/43/korean-food-921890_960_720.jpg">
   </div>

 </div>
</div>



<div id="menu">
  <ul>
    <li><a class="hover_tab" href="#tab1">Présentation</a></li>
    <li><a href="#tab2">Menu</a></li>
    <li><a href="#tab3">Contact</a></li>

  </ul>
</div>
<div style="clear:both"></div>
<div id="txt_cont">
  <div class="txt_tab" id="tab1">
    <img style="float:left; margin:2px 6px 2px 0" src="https://kimshii.com/wp-content/uploads/2011/06/cuisinecor-C3-A9enne-dalkbokkeumtang18-300x199.jpg" alt=""/>Bekseju Village, une cuisine coréenne authentique
En cuisine, un duo de chefs venus spécialement de Corée du Sud prépare, dans le respect du goût et de la qualité, certains grands classiques de la cuisine coréenne (Kimchi Jjigae, bibimpap, yukgeajang, bulgogi…) ainsi que d’autres plats et accompagnements qui feront le bonheur des amateurs (galettes de fruits de mer, salade de poulpe, dubu kimchi…). On y retrouve tous les assaisonnements caractéristiques de la péninsule : pâte de piment (‘cochujang’), ciboules, ail, sésame et autres légumes variés
  </div>
  <div class="txt_tab" id="tab2">Bekseju Village, une cuisine coréenne authentique
En cuisine, un duo de chefs venus spécialement de Corée du Sud prépare, dans le respect du goût et de la qualité, certains grands classiques de la cuisine coréenne (Kimchi Jjigae, bibimpap, yukgeajang, bulgogi…) ainsi que d’autres plats et accompagnements qui feront le bonheur des amateurs (galettes de fruits de mer, salade de poulpe, dubu kimchi…). On y retrouve tous les assaisonnements caractéristiques de la péninsule : pâte de piment (‘cochujang’), ciboules, ail, sésame et autres légumes variés
  </div>
  <div class="txt_tab" id="tab3">
    <p>8 rue de Paris</p>
    <p>75008 Paris</p>
    <p>01.42.43.44.45</p>
  </div>
</div>


<p></p>
<p></p>




<script type="text/javascript">


$(document).ready(function(){
  $('div#txt_cont div:gt(0)').css('display', 'none');
  $('#menu ul li a').click(function(event){
    event.preventDefault();
    var id_tab = $(this).attr('href');
    $('#menu ul li a').removeClass('hover_tab');
    $(this).addClass('hover_tab');
    $('div.txt_tab:visible').hide();
    $(id_tab).show('slide');
  });
});



$(document).ready(function(){

 $("#slideshow > div:gt(0)").hide();

 var buttons = "<button type= hidden class=\"slidebtn prev\">&#10094<i class=\"fa fa-chevron-circle-left\"></i></button><button class=\"slidebtn next\">&#10095<i class=\"fa fa-chevron-circle-right\"></i></button\>";

 var slidesl = $('.slideitem').length
 var d = "<li class=\"dot active-dot\">&bull;</li>";
 for (var i = 1; i < slidesl; i++) {
   d = d+"<li class=\"dot\">&bull;</li>";
 }
 var dots = "<ul class=\"slider-dots\">" + d + "</ul\>";

 $("#slideshow").append(dots).append(buttons);
 var interval = setInterval(slide, 5000);

 function intslide(func) {
   if (func == 'start') {
     interval = setInterval(slide, 5000);
   } else {
     clearInterval(interval);
   }
 }

 function slide() {
   sact('next', 0, 1200);
 }

 function sact(a, ix, it) {
   var currentSlide = $('.current');
   var nextSlide = currentSlide.next('.slideitem');
   var prevSlide = currentSlide.prev('.slideitem');
   var reqSlide = $('.slideitem').eq(ix);

   var currentDot = $('.active-dot');
   var nextDot = currentDot.next();
   var prevDot = currentDot.prev();
   var reqDot = $('.dot').eq(ix);

   if (nextSlide.length == 0) {
     nextDot = $('.dot').first();
     nextSlide = $('.slideitem').first();
   }

   if (prevSlide.length == 0) {
     prevDot = $('.dot').last();
     prevSlide = $('.slideitem').last();
   }

   if (a == 'next') {
     var Slide = nextSlide;
     var Dot = nextDot;
   }
   else if (a == 'prev') {
     var Slide = prevSlide;
     var Dot = prevDot;
   }
   else {
     var Slide = reqSlide;
     var Dot = reqDot;
   }

   currentSlide.fadeOut(it).removeClass('current');
   Slide.fadeIn(it).addClass('current');

   currentDot.removeClass('active-dot');
   Dot.addClass('active-dot');
 }

 $('.next').on('click', function(){
   intslide('stop');
   sact('next', 0, 400);
   intslide('start');
 });//next

 $('.prev').on('click', function(){
   intslide('stop');
   sact('prev', 0, 400);
   intslide('start');
 });//prev

 $('.dot').on('click', function(){
   intslide('stop');
   var index  = $(this).index();
   sact('dot', index, 400);
   intslide('start');
 });//prev
 //slideshow
});

/*
JQUERY SLIDER BY JohnRostislavovich - https://codepen.io/JohnRostislavovich
ALL YOU HAVE TO DO:
-copy the whole code html, css & js
-include jquery lib
-change the images
*/


</script>


<footer>
  <ul>
    <li>
      <a href="https://www.facebook.com/">
        <i class="fab fa-facebook-f"></i> Facebook
      </a>
    </li>
    <li>
      <a href="https://fr.linkedin.com/">
        <i class="fab fa-linkedin-in"></i> Linkedin
      </a>
    </li>
    <li>
      <a href="https://twitter.com/?lang=fr">
        <i class="fab fa-twitter"></i> Twitter
      </a>
    </li>
  </ul>
</footer>


</body>


</html>
